body {
  font-family: 'DM Sans', sans-serif;
  font-style: normal;
  font-weight: 500;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
}

img {
  display: block;
}

.container {
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
  @media screen and(min-width: 480px) {
    width: 480px;
  }
  @media screen and(min-width: 768px) {
    width: 768px;
    padding-left: 34px;
    padding-right: 34px;
  }
  @media screen and(min-width: 1280px) {
    width: 1280px;
    padding-left: 46px;
    padding-right: 46px;
  }
}

.visually-hidden {
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
  position: absolute;
}

// ----------VARIABLES-----------

$main-title-color: #d41443;
$second-title-color: #ffffff;
$main-text-color: #ffffff;
$second-text-color: #000000;
$third-text-color: #907e82;
$fourth-text-color: #ffa5ba;
$main-bg-color: #ffb8ca;
$second-bg-color: #fff5f6;
$main-btn-color: #d41342;
$second-btn-color: #ffffff;
$hover-text-color: #d41443;
$hover-bg-color: #ecebeb;
$main-current-color: #ffb8ca;
$second-current-color: #f0d1a5;
$third-current-color: #c2e297;
$social-icon-bg-color: #fea5bb;
$hover-icon-bg-color: #6b454e;
