.contacts {
  background: $second-bg-color;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  text-align: center;
  @media screen and (min-width: 768px) {
    margin-left: auto;
    margin-right: auto;
  }
}

.contacts-flex {
  @media screen and (max-width: 767px) {
    transform: translateY(-85px);
  }

  @media screen and (min-width: 768px) {
    display: flex;
    flex-basis: calc((100% - 3 * 10px) / 3);
    padding-left: 36px;
    padding-right: 36px;
    transform: translateY(-78px);
    margin-left: auto;
    margin-right: auto;
    width: 768px;
  }

  @media screen and (min-width: 1200px) {
    width: 1200px;
    transform: translateY(-102px);
  }
}

.contacts__container {
  width: 220px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 43px;
  padding-bottom: 43px;
  align-items: center;
  margin: 0 auto;
  margin-bottom: 20px;
  background: $main-text-color;
  box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
  border-radius: 24px;
  text-align: left;

  @media screen and (max-width: 479px) {
    min-width: 220px;
    margin-left: auto;
    margin-right: auto;
  }

  @media screen and (min-width: 768px) {
    maax-width: 220px;
    padding-left: 31px;
    padding-right: 31px;
    padding-top: 50px;
    padding-bottom: 50px;
    align-items: center;
    margin: 0 auto;
    margin-bottom: 81px;
    background: $main-text-color;
    box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
    border-radius: 24px;
    text-align: left;
    flex-wrap: wrap;
    flex-basis: calc((100% - 3 * 10px) / 3);
  }

  @media screen and (min-width: 1200px) {
    max-width: 330px;
    padding-left: 43px;
    padding-right: 44px;
    padding-top: 51px;
    padding-bottom: 62px;
    align-items: center;
    margin: 0 auto;
    margin-bottom: 86px;
    background: $main-text-color;
    box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
    border-radius: 24px;
    text-align: left;
    // display: flex;
    flex-wrap: wrap;
    flex-basis: calc((100% - 3 * 15px) / 3);
  }
}

.contacts__container-last {
  width: 220px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 43px;
  padding-bottom: 43px;
  align-items: center;
  margin: 0 auto;
  margin-bottom: 54px;
  background: $main-text-color;
  box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
  border-radius: 24px;
  text-align: left;

  @media screen and (min-width: 768px) {
    max-width: 220px;
    padding-left: 31px;
    padding-right: 31px;
    padding-top: 50px;
    padding-bottom: 50px;
    align-items: center;
    margin: 0 auto;
    margin-bottom: 81px;
    background: $main-text-color;
    box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
    border-radius: 24px;
    text-align: left;

    flex-basis: calc((100% - 3 * 10px) / 3);
  }

  @media screen and (min-width: 1200px) {
    max-width: 330px;
    padding-left: 43px;
    padding-right: 44px;
    padding-top: 51px;
    padding-bottom: 62px;
    align-items: center;
    margin: 0 auto;
    margin-bottom: 86px;
    background: $main-text-color;
    box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
    border-radius: 24px;
    text-align: left;
    // display: flex;
    flex-wrap: wrap;
    flex-basis: calc((100% - 3 * 15px) / 3);
  }
}

.contacts__list {
  list-style: none;
  margin-top: 25px;
  margin-bottom: 25px;
}

.contacts__item {
  // margin-top: 25px;
  // margin-bottom: 25px;
}

.contacts__categories {
  width: 80px;
  height: 16px;
  background: $second-current-color;
  border-radius: 4px;
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 186%;
  /* or 22px */

  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  letter-spacing: 0.04em;

  color: $main-text-color;

  @media screen and (min-width: 768px) {
    width: 73px;
    height: 28px;
    font-family: DM Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 186%;

    text-align: center;
    letter-spacing: 0.04em;

    color: $main-text-color;
  }

  @media screen and (min-width: 1200px) {
    width: 73px;
    height: 28px;
    font-family: DM Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 186%;
    /* or 30px */

    text-align: center;
    letter-spacing: 0.04em;

    color: $main-text-color;
  }
}

.contacts__categories-second {
  width: 130px;
  height: 16px;
  background: $third-current-color;
  border-radius: 4px;
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 186%;
  /* or 22px */

  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  letter-spacing: 0.04em;

  color: $main-text-color;
  @media screen and (min-width: 768px) {
    width: 138px;
    height: 28px;
    font-family: DM Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 186%;
    /* or 30px */

    text-align: center;
    letter-spacing: 0.04em;

    color: $main-text-color;
  }

  @media screen and (min-width: 1200px) {
    width: 138px;
    height: 28px;
    font-family: DM Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 186%;
    /* or 30px */

    text-align: center;
    letter-spacing: 0.04em;

    color: $main-text-color;
  }
}

.contacts__city {
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 186%;
  /* or 22px */

  letter-spacing: 0.04em;

  color: $second-text-color;
  margin-bottom: 10px;

  @media screen and (min-width: 768px) {
    font-family: DM Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 186%;

    letter-spacing: 0.04em;

    color: $second-text-color;
  }

  @media screen and (min-width: 1200px) {
    font-family: DM Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 186%;
    letter-spacing: 0.04em;

    color: $second-text-color;
  }
}

.contacts__text {
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;

  color: $third-text-color;

  @media screen and (min-width: 768px) {
    font-family: DM Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 166%;
    color: $third-text-color;
  }

  @media screen and (min-width: 1200px) {
    font-family: DM Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 183%;
    color: $third-text-color;
  }
}

.contacts__days {
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 186%;

  color: $second-text-color;

  @media screen and (min-width: 768px) {
    font-family: DM Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 186%;

    color: $second-text-color;
  }

  @media screen and (min-width: 1200px) {
    font-family: DM Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 186%;

    color: $second-text-color;
  }
}

.contacts__time {
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 186%;

  color: $fourth-text-color;
  margin-bottom: 10px;

  @media screen and (min-width: 768px) {
    font-family: DM Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 186%;

    color: $fourth-text-color;
  }

  @media screen and (min-width: 1200px) {
    font-family: DM Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 186%;

    color: $fourth-text-color;
  }
}

.contacts__time-second {
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 186%;

  color: $fourth-text-color;
  @media screen and (min-width: 768px) {
    font-family: DM Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 186%;

    color: $fourth-text-color;
  }

  @media screen and (min-width: 1200px) {
    font-family: DM Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 186%;

    color: $fourth-text-color;
  }
}

.contacts__contact-item {
  text-decoration: none;
  list-style: none;
}

.contacts__links {
  margin-top: 25px;
}

.contacts__link {
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  /* or 150% */

  color: $third-text-color;
  text-decoration: none;
  list-style: none;

  @media screen and (min-width: 768px) {
    font-family: DM Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 183%;
    /* or 26px */

    color: $third-text-color;
  }

  @media screen and (min-width: 1200px) {
    font-family: DM Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 183%;

    color: $third-text-color;
  }
}

.contacts__link-mail {
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;

  color: $third-text-color;
  text-decoration: none;
  list-style: none;

  @media screen and (min-width: 768px) {
    font-family: DM Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 183%;

    color: $third-text-color;
  }
  @media screen and (min-width: 1200px) {
    font-family: DM Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 183%;

    color: $third-text-color;
  }
}

.contacts__container-buttons {
  width: 161px;
  margin: 0 auto;
  transform: translateY(-85px);

  @media screen and (min-width: 768px) {
    width: 380px;
    display: flex;
    transform: translateY(-78px);
  }

  @media screen and (min-width: 1200px) {
    width: 393px;
    display: flex;
    transform: translateY(-102px);
  }
}

.contacts__button {
  border-radius: 22px;
  width: 161px;
  height: 44px;
  position: relative;
  margin-bottom: 10px;
  padding-left: 17px;
  padding-right: 17px;
  background-color: $main-btn-color;
  border: none;
  font-family: DM Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
  // display: flex;
  align-items: center;
  text-align: center;

  color: $main-text-color;
  &:hover,
  &:focus {
    background: $main-btn-color;
    color: $main-text-color;
    .contacts__icon-arrow {
      fill: $main-text-color;
    }
  }

  @media screen and (min-width: 768px) {
    width: 191px;
    margin-right: 14px;
  }

  @media screen and (min-width: 1200px) {
    width: 198px;
    margin-right: 15px;
  }
}

.contacts__button:hover .contacts__icon-arrow {
  background: $main-btn-color;
  color: $main-text-color;
  &:hover,
  &:focus {
    fill: $main-text-color;
  }
}

.contacts__button-second {
  background: $main-text-color;
  border-radius: 22px;
  width: 161px;
  height: 44px;
  position: relative;
  padding-left: 32px;
  padding-right: 32px;
  border: none;
  font-family: DM Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;

  align-items: center;
  text-align: center;

  color: $hover-text-color;
  &:hover,
  &:focus {
    background: $hover-bg-color;
    color: $main-text-color;
    fill: $main-text-color;
    .contacts__icon-arrow {
      fill: $main-text-color;
    }
  }

  @media screen and (min-width: 768px) {
    width: 174px;
  }

  @media screen and (min-width: 1200px) {
    width: 180px;
  }
}

.contacts__button-text {
  font-family: DM Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
  display: flex;
  align-items: center;
  text-align: center;

  color: $hover-text-color;

  &:hover,
  &:focus {
    color: $hover-text-color;
    fill: $main-text-color;
  }
}

.contacts__icon-arrow {
  position: absolute;
  display: flex;

  fill: $hover-text-color;

  top: 0;
  right: 0;
  margin-top: 19px;
  margin-right: 17px;
  width: 4px;
  height: 8px;
  &:hover,
  &:focus {
    fill: $main-text-color;
  }
}
