.container-header {
    width: 100%;
  
    margin: 0 auto;
    @media screen and(min-width: 480px) {
      width: 480px;
    }
    @media screen and(min-width: 768px) {
      width: 768px;
  
    }
    @media screen and(min-width: 1280px) {
      width: 1280px;
  
    }
  }

.heder{
    @media screen and(max-width: 479px){
width: 90vw;
    }
    position: absolute;
    padding-top: 6px;

    
    background: $main-current-color;

@media screen and(min-width:768px) {
    padding-top: 37px;
}

}




.logo__link{
   
       
        width: 199px;
        height: 50px;
        padding: 0px;
      
               z-index: 2;
       
}



.flex {
    display: flex;
  }
  .menu__button-open {

      
    background-color: transparent;
    margin-left: auto;
    margin-right: 0px;
    border: none;
    @media screen and(min-width:480px)and(max-width:483px){
       margin-right: 40px;
    }
    @media screen and(min-width:484px)and(max-width:487px){
        margin-right: 40px;
    }
    @media screen and(min-width:488px)and(max-width:492px){
        margin-right: 30px;
    }
    @media screen and(min-width:492px)and(max-width:500px){
        margin-right: 30px;
    }
    @media screen and(min-width:501px)and(max-width:510px){
        margin-right: 30px;
    }
    @media screen and(min-width:511px)and(max-width:520px){
        margin-right: 30px;
    }
     @media screen and(min-width:521px)and(max-width:530px){
         margin-right: 25px;
    }
     @media screen and(min-width:531px)and(max-width:545px){
         margin-right: 20px;
    } 
  
    @media screen and(min-width:768px){
        position: absolute;
        content: "";
      top: 0;
      right: 0;   
      transform: translate(-815%,255%);
      z-index: 50;
    }
    @media screen and(min-width:1280px){
        display: none;
    }
    } 




.mobile-menu{
  
    position: fixed;
    right: 0;
    top: 0;
width: 100vw;
height: 100vh;
background: #E17992;
z-index: 999;
transition:transform 250ms cubic-bezier(0.4, 0, 0.2, 1); 
@media screen and(min-width:768px) {
    width: 254px;
}

transform: translateX(100%);




&.is-open{
    transform: translateX(0%);  
   
}
}


.mobile-menu__button-closed{
    @media screen and(min-width:480px){
        border: none;
        padding: 0px;
        margin-right: auto;
       
       
        background: #E17992;
        
        position: absolute;
        content: "";
        top: 0; 
        right: 0;
        transform: translate(-15px,20px);
}
}

.button-wrap{

    display: flex;
    justify-content: center;
    padding-bottom: 19px;
    margin-top: 60px;

    }

.button-buy-now{
    @media screen and(min-width:480px){
width: 209px;
height: 44px;
width: 209px;
height: 44px;
left: 21px;
top: 60px;
border: none;


background: #FFFFFF;
border-radius: 22px;
font-weight: 700;
font-size: 16px;
line-height: calc(21/16);
}
}
                // t a b l e t /////////////////////////////
.tablet__button-nav{
    @media screen and(max-width:767px){
        display: none;
    }
    @media screen and(min-width:768px)and(max-width:1279px){
        position: absolute;
        right: 0;
        top: 0;
        transform: translate(-65px, 39px);
        z-index: 999;
          }
    @media screen and (min-width:1280px) {
        display: none;
        
    }
}
.tablet__button-buy-now{
     @media screen and(min-width:768px) and(max-width:1279.9px){
margin-left: 30px;
color: #D41443;

    border: none;
    width: 160px;
    height: 44px;

    background: #FFFFFF;
    border-radius: 22px;
    font-weight: 700;
    font-size: 16px;
    line-height: calc(21/16); 
    }
    @media screen and (min-width:1280px) {
        display: none;
        
    }
}

.tablet-menu__button-open{
   
    background-color: transparent;
    margin-left: auto;
    margin-right: 0px;
    border: none;
    z-index: 999;
    margin: 0px;
    @media screen and (min-width:1280px) {
        display: none;
        
    }
}

//////////////////////////////////////////end tablet////////////////////////////////////////////////
.button-Buy-now__img{
    @media screen and(min-width:480px){
margin-left: 15.77px;
}
 @media screen and(min-width:768px){
     margin-left: 15px;
 }
}

.nav-list__item{
    @media screen and(min-width:480px){
padding-top: 13px;
padding-bottom: 11px;
padding-left: 21px;
border-top: 1px solid #E18298;
border-bottom: 1px solid #E18298;
transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1); 



// изменить цвет
&.mobile-menu-link :hover,
&.mobile-menu-link :focus,
&.mobile-menu-link :active{
    color: $hover-text-color;
}
}
}

.nav-list__link{   
    text-decoration: none;
    @media screen and(min-width:480px){
font-family: DM Sans;
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: calc(18/14) ;
transition:color 250ms cubic-bezier(0.4, 0, 0.2, 1); 


color:#FFFFFF;
// изменить цвет

&:hover,
&:focus,
&:active{
    color: $hover-text-color;
    // изменить цвет
}
&.mobile-menu-item :hover,
&.mobile-menu-item :active,    
&.mobile-menu-item :focus{
    color: $hover-text-color;
    // изменить цвет
}
}
}

/////////////////////////////////////////// d e s c t o p  m e n u //////////////////////
.desctop-menu{
@media screen and(max-width:1280px) {
    display: none;
    }
   
}



.desctop-menu__list{
    position: absolute;
    content: "";
    top: 50px;
    transform: translate(0%,10%);
    z-index: 999;
  
    margin-left: 110px;
    display: flex;
    & :last-child{
        margin-right: 0px;
    }

}

.desctop-menu__item{
margin-right: 35px;

& :hover,
& :focus,
& :active{
    color: #D41443;
}
}

.desctop-menu__link{
    text-decoration: none;
    font-weight: 700;
    font-size: 16px;
    line-height: calc(21/16);
    
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
    display: flex;
    align-items: center;
    
    color: #FFFFFF;
    & :hover,
    & :focus,
    & :active{
        color: #D41443;
    }
   }

.desctop__button-buy-now{
    position: absolute;
    content: "";
    top: 38px;
    right: 115px;
    width: 159px;
    height: 44px;
    bottom: none;
    transform: translate(-5%,5%);

    background: #FFFFFF;
border-radius: 22px;
border: none;

    font-weight: 700;
font-size: 16px;
line-height: calc(21/16);
display: flex;
align-items: center;
text-align: center;
justify-content:center ;

color: #D41443;
transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1); 

& :hover,
& :focus,
& :active{
    background: #ECEBEB;

}
}

.desctop__button-buy-now:hover,
.desctop__button-buy-now:focus{
    background-color: #ECEBEB;
}






