/* Modal -- Info */

.backdrop {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  left: 0;
  transition: opacity 400ms, visibility 400ms;
  z-index: 50;
}

.backdrop.is-hidden {
  .modal__info {
    transform: scale(0.5);
  }
}

.modal__info {
  width: 528px;
  min-height: 581px;
  background-color: $second-bg-color;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), #2f303a66), url(../images/modal-cow.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 5px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: scale(1) translate(-50%, -50%);
  transition: transform 400ms;
  padding: 40px;
  @media screen and (max-width: 1280px) {
    width: 450px;
    height: 609px;
  }
  @media screen and (max-width: 768px) {
    width: 450px;
    height: 609px;
  }
  @media screen and (max-width: 480px) {
    width: 97%;
    height: 97%;
  }
}

.modal__button-commit {
  width: 200px;
  height: 50px;
  border-radius: 22px;
  background-color: $main-bg-color;
  color: $second-title-color;
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
  border: none;
}

.modal__close {
  border-radius: 50%;
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal__title-info {
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 0px;
  margin-top: 3px;
  color: $main-text-color;
}

.modal__product-text {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 28px;
  text-align: center;
  letter-spacing: 0.03em;
  color: $main-text-color;
  margin-top: 50px;
  text-align: center;
}

.modal__footer-text {
  font-family: DM Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 186%;
  letter-spacing: 0.02em;
  color: $second-text-color;
  text-align: center;
  margin-top: 40px;
}

/* Modal -- form */

.backdrop {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  left: 0;
  transition: opacity 400ms, visibility 400ms;
  z-index: 50;
}

.backdrop.is-hidden {
  .modal {
    transform: scale(0.5);
  }
}

.modal {
  width: 528px;
  min-height: 581px;
  background-color: $second-bg-color;
  border-radius: 5px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: scale(1) translate(-50%, -50%);
  transition: transform 400ms;
  padding: 40px;
  @media screen and (max-width: 1200px) {
    width: 450px;
    height: 609px;
  }
  @media screen and (max-width: 480px) {
    width: 95%;
    height: 95%;
  }
}

.modal__button-commit {
  width: 200px;
  height: 50px;
  border-radius: 22px;
  background-color: $hover-text-color;
  color: $second-title-color;
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
  border: none;
}

.modal__close {
  position: absolute;
  top: 14px;
  right: 14px;
  width: 30px;
  height: 30px;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
}

.modal__close-icon {
  transition: fill 250ms linear;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  color: $main-btn-color;
  &:hover {
    fill: $main-btn-color;
  }
}
.modal__close {
  border: 50%;
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal__title {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 12px;
  margin-top: 3px;
  color: $hover-text-color;
}

.modal__form-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  padding-left: 42px;
  padding-right: 15px;
  background-color: transparent;
  transition: border-color 250ms linear;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:focus {
    border-color: $hover-text-color;
  }
  &:focus + .modal-input-icon {
    fill: $hover-text-color;
  }
}

.modal__form-input-text {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: $hover-text-color;
  display: block;
  margin-bottom: 4px;
}

.modal__form-field {
  margin-bottom: 10px;
}

.modal__form-field-last {
  margin-bottom: 0;
}

.modal__form-input-comment {
  width: 100%;
  min-height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  padding: 12px 16px;
  background-color: transparent;
  resize: none;
  &::placeholder {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
  }
  &:focus {
    border-color: $hover-text-color;
  }
}

.modal-input-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 12px;
  transition: fill 250ms linear;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__form-input-wrap {
  position: relative;
}

.modal__form-checkbox {
  margin-top: 20px;
  margin-bottom: 30px;
}

.modal__checkbox-text {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: $hover-text-color;
  position: relative;
  display: flex;
  align-items: center;
  &::before {
    content: '';
    width: 38px;
    height: 22px;
    border-radius: 50px;
    border: 1px solid $hover-text-color;
    margin-right: 4px;
    background-color: $second-title-color;
    transition: background-color 250ms linear;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  &::after {
    content: '';
    position: absolute;
    left: 1px;
    top: 2px;
    width: 20px;
    height: 20px;
    background-color: $hover-text-color;
    border-radius: 50%;
    transition: transform 250ms linear, background-color 250ms linear;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  @media screen and (max-width: 1200px) {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    color: $hover-text-color;
    &::before {
      content: '';
      width: 25px;
      height: 8px;
      border-radius: 50px;
      border: 1px solid $hover-text-color;
      margin-right: 4px;
      background-color: $second-btn-color;
      transition: background-color 250ms linear;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }

    &::after {
      content: '';
      position: absolute;
      left: 1px;
      top: 3px;
      width: 8px;
      height: 8px;
      background-color: $hover-text-color;
      border-radius: 50%;
      transition: transform 250ms linear, background-color 250ms linear;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }
  }
}

.modal__checkbox:checked + .modal__checkbox-text::after {
  transform: translateX(17px);
  background-color: $hover-text-color;
}

.modal__checkbox:checked + .modal__checkbox-text::before {
  background-color: $hover-text-color;
}
.modal__checkbox {
  color: $main-title-color;
  background-color: $hover-text-color;
}

.modal__link {
  color: $hover-text-color;
  margin-left: 5px;
  @media screen and (min-width: 480px) {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.03em;
  }
}

.modal__checkbox-text {
  @media screen and (min-width: 768px) {
    text-align: center;
  }
}
