<section class="advantages" id="about-us">
    <div class="container">
        <h2 class="advantages__title visually-hidden">Advantages</h2>
        <ul class="advantages-list">
            <li class="advantages-list__item">
                <h3 class="advantages-list__pretitle icecream-1">721</h3>
                <p class="advantages-list__text">
                    Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
                </p>
            </li>
            <li class="advantages-list__item">
                <h3 class="advantages-list__pretitle icecream-2">16KG</h3>
                <p class="advantages-list__text">
                    Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
                </p>
            </li>
            <li class="advantages-list__item">
                <h3 class="advantages-list__pretitle icecream-3">84</h3>
                <p class="advantages-list__text">
                    Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
                </p>
            </li>
        </ul>
    </div>
</section>