<footer class="footer">
  <div class="container">
    <div class="flex-wrap">
      <div class="title-wrap">
        <p class="footer__pre-title">homemade ice cream made</p>
        <p class="footer__title">with passion</p>
      </div>
      <div class="flex-right">
        <ul class="contacts-list">
          <li class="contacts-list__item">
            <a href="https://github.com" class="contacts-list__link" aria-label="github">
              <svg class="contacts-list__icon">
                <use href="images/icons.svg#icon-github"></use>
              </svg>
            </a>
          </li>
          <li class="contacts-list__item">
            <a href="https://twitter.com" class="contacts-list__link" aria-label="twitter">
              <svg class="contacts-list__icon">
                <use href="images/icons.svg#icon-telegram"></use>
              </svg>
            </a>
          </li>
          <li class="contacts-list__item">
            <a href="https://www.facebook.com" class="contacts-list__link" aria-label="facebook">
              <svg class="contacts-list__icon">
                <use href="images/icons.svg#icon-facebook"></use>
              </svg>
            </a>
          </li>
        </ul>
        <p class="footer-tel">
          Feel free to contact<a href="tel:+610383766284" class="footer-tel__link">
            +61 (0) 383 766 284</a
          >
        </p>
      </div>
    </div>
    <div class="copyright-wrap">
      <p class="copyright">&#169; 2019 - IceCream. All Rights Reserved.</p>
    </div>
  </div>
</footer>
