<section class="photo">
    <h2 class="gallery-title">Gallery</h2>
    <div class="gallery">
        <div class="gallery__photo gallery__photo-mob gallery__photo-tablet">
            <picture>
                <source media="(min-width:1200px)" srcset="/images/photo_1.jpg" />
                <source media="(min-width:768px)" srcset="/images/photo_1tab.jpg" />
                <source media="(min-width:320px)" srcset="/images/photo_1mob.jpg" />
                <img src="/images/photo_1.jpg" alt="" style="border-radius: 8px;" />
            </picture>
        </div>
        <div class="gallery__photo gallery__photo-mob gallery__photo-tablet">
            <picture>
                <source media="(min-width:1200px)" srcset="/images/photo_2.jpg" />
                <source media="(min-width:768px)" srcset="/images/photo_2tab.jpg" />
                <source media="(min-width:320px)" srcset="/images/photo_2mob.jpg" />
                <img src="/images/photo_2.jpg" alt="" style="border-radius: 8px;" />
            </picture>
        </div>
        <div class="gallery__photo gallery__photo-mob gallery__photo-tablet">
            <picture>
                <source media="(min-width:1200px)" srcset="/images/photo_3.jpg" />
                <source media="(min-width:768px)" srcset="/images/photo_3tab.jpg" />
                <source media="(min-width:320px)" srcset="/images/photo_3mob.jpg" />
                <img src="/images/photo_3.jpg" alt="" style="border-radius: 8px;" />
            </picture>
        </div>
        <div class="gallery__photo gallery__photo-mob gallery__photo-tablet">
            <picture>
                <source media="(min-width:1200px)" srcset="/images/photo_4.jpg" />
                <source media="(min-width:768px)" srcset="/images/photo_4tab.jpg" />
                <source media="(min-width:320px)" srcset="/images/photo_4mob.jpg" />
                <img src="/images/photo_4.jpg" alt="" style="border-radius: 8px;" />
            </picture>
        </div>
        <div class="gallery__photo gallery__photo-mob gallery__photo-tablet">
            <picture>
                <source media="(min-width:1200px)" srcset="/images/photo_5.jpg" />
                <source media="(min-width:768px)" srcset="/images/photo_5tab.jpg" />
                <source media="(min-width:320px)" srcset="/images/photo_5mob.jpg" />
                <img src="/images/photo_5.jpg" alt="" style="border-radius: 8px;" />
            </picture>
        </div>
        <div class="gallery__photo gallery__photo-mob gallery__photo-tablet">
            <picture>
                <source media="(min-width:1200px)" srcset="/images/photo_6.jpg" />
                <source media="(min-width:768px)" srcset="/images/photo_6tab.jpg" />
                <source media="(min-width:320px)" srcset="/images/photo_6mob.jpg" />
                <img src="/images/photo_6.jpg" alt="" style="border-radius: 8px;" />
            </picture>
        </div>
        <div class="gallery__photo gallery__photo-mob gallery__photo-tablet">
            <picture>
                <source media="(min-width:1200px)" srcset="/images/photo_7.jpg" />
                <source media="(min-width:768px)" srcset="/images/photo_7tab.jpg" />
                <source media="(min-width:320px)" srcset="/images/photo_7mob.jpg" />
                <img src="/images/photo_7.jpg" alt="" style="border-radius: 8px;" />
            </picture>
        </div>
        <div class="gallery__photo gallery__photo-mob gallery__photo-tablet">
            <picture>
                <source media="(min-width:1200px)" srcset="/images/photo_8.jpg" />
                <source media="(min-width:768px)" srcset="/images/photo_8tab.jpg" />
                <source media="(min-width:320px)" srcset="/images/photo_8mob.jpg" />
                <img src="/images/photo_8.jpg" alt="" style="border-radius: 8px;" />
            </picture>
        </div>
        <div class="gallery__photo gallery__photo-mob gallery__photo-tablet">
            <picture>
                <source media="(min-width:1200px)" srcset="/images/photo_9.jpg" />
                <source media="(min-width:768px)" srcset="/images/photo_9tab.jpg" />
                <source media="(min-width:320px)" srcset="/images/photo_9mob.jpg" />
                <img src="/images/photo_9.jpg" alt="" style="border-radius: 8px;" />
            </picture>
        </div>
        <div class="gallery__photo gallery__photo-mob gallery__photo-tablet">
            <picture>
                <source media="(min-width:1200px)" srcset="/images/photo_10.jpg" />
                <source media="(min-width:768px)" srcset="/images/photo_10tab.jpg" />
                <source media="(min-width:320px)" srcset="/images/photo_10mob.jpg" />
                <img src="/images/photo_10.jpg" alt="" style="border-radius: 8px;" />
            </picture>
        </div>
    </div>
</section>