<!-- <section id="Home" class="heder" >
        <div class="container">
        <a class="logo__link" href="logo">
            <img class="logo__image{" src="images/logo.png" alt="logo">
            </a>
          <button class="menu__button-open js-open-menu" type="button"aria-expanded="false"
                    aria-controls="mobile-menu">
            <svg class="menu__picture" height="12px" width="20px">
                    <use href="images/icons.svg#icon-burger"></use>
            </svg>
          </button>
          <nav>

          </nav>
         
<div class="mobile-menu js-menu-container "  >
        <button  type="button" class="mobile-menu__button-closed js-close-menu">
            <svg class="mobile-menu__svg" height="14px" , width="14px">
          <use href="images/icons.svg#icon-close"></use>
        </svg>
      </button>
      <div class="button-wrap">
        <button class="button-buy-now">Buy now
                     <svg class="button-Buy-now__img" width="5.26px" height="8px">
                       <use href="images/icons.svg#icon-arrow-right" ></use>
          </svg>
        </button>
      </div>
      <nav>
      <ul class="nav-list list">
              <li class="nav-list__item">
                      <a class="nav-list__link" href="#Home">Home</a>
          heder__mobile-menu-link
        <!-- </li>
        <li class="nav-list__item">
          <a class="nav-list__link" href="#about-us">About us</a>
        </li>
        <li class="nav-list__item">
          <a class="nav-list__link" href="how-its-made">How it’s made?</a>
        </li>
        <li class="nav-list__item">
          <a class="nav-list__link" href="#our-products">Our products</a>
        </li>
        <li class="nav-list__item">
          <a class="nav-list__link" href="#contact">Contact</a>
        </li>
      </ul>
    </nav>

    </div>
    </section> --> -->