<section class="hero">
  <div class="hero__background-circle"></div>
    <div class="container abc">
      <div class="hero__main-block">
        <h1 class="hero__title">
          Ice cream <br />
          made with <br />
          <span class="hero__word">passion</span>
        </h1>
        <ul class="hero__links">
          <li class="hero__links-item"><a href="#" class="hero__link"><span class="hero__link-text hero__link-text--pro"> Products </span></a></li>
          <li class="hero__links-item"><a href="#" class="hero__link"><span class="hero__link-text hero__link-text--how"> How it's made?</span></a></li>
        </ul>
      </div>
      <div class="hero__second-block">
          <picture class="hero__milk-picture">
            <source
          srcset="
          images/hero-milk-desk-1x-min.png    1x,
          images/hero-milk-desk-2x-min.png 2x
          "
          media="(min-width:1280px)"
        />
        <source
          srcset="
          images/hero-milk-tab-1x-min.png    1x,
          images/hero-milk-tab-2x-min.png 2x
          "
          media="(min-width:768px)"
        />
        <img src="images/hero-milk-desk-1x-min.png" alt="bio-eco milk" class="hero__milk-image"> 
        </picture>
        <div class="hero__main-text">
          <p class="hero__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>

        <span class="hero__button"> 
        </span>
        </div>
    </div>
  <div class="hero__third-block"> 
  <picture class="hero__ice-cream-picture">
    <source
      srcset="
        images/icecream-desk-1x-min.png    1x,
        images/icecream-desk-2x-min.png 2x
      "
      media="(min-width:1280px)"
    />
    <source
      srcset="
      images/icecream-tab-1x-min.png   1x,
      images/icecream-tab-2x-min.png 2x
      "
      media="(min-width:768px)"
    />
    <source
      srcset="
      images/icecream-mob-1x-min.png    1x,
      images/icecream-mob-2x-min.png 2x
      "
      media="(min-width:320px)"
    />
    <img src="images/icecream-mob-1x-min.png" alt="our natural ice cream" class="hero__ice-cream-image">
    </picture>

</div>
        <ul class="hero__fourth-block">
        <li class="hero__facilities-item"><p class="hero__facilities hero__facilities--cafes"> <span class="hero__quantity">16</span><span class="hero__facility">cafes</span></p><span class="hero__facilities-circle"></span></li>
        <li class="hero__facilities-item"><p class="hero__facilities hero__facilities--trucks"> <span class="hero__quantity">23</span><span class="hero__facility">food trucks</span></p><span class="hero__facilities-circle"></span></li>
      </ul>
  <div class="hero__fifth-block">
  <picture class="hero__so-tasty-picture">
      <source
        srcset=" 
        images/so-tasty-desk-1x-min.png    1x,
        images/so-tasty-desk-2x-min.png  2x
        "
        media="(min-width:1280px)"
      />
      <source
        srcset="
        images/so-tasty-tab-1x-min.png    1x,
        images/so-tasty-tab-2x-min.png  2x
        "
        media="(min-width:768px)"
      />
      <img src="images/so-tasty-desk-1x-min.png" alt="tasty ice cream" class="hero__so-tasty-image">
    </picture>
  </div>
</div>
    </section>
    