<div class="background-wrap">
  <!-- -------------------------HEADER-------------------------- -->
  <!-- <div class="">
    <header id="Home" class="heder">
      <div class="container">
        <div class="flex">
          <a class="logo__link" href="index.html">
            <img class="logo__image{" src="images/logo.png" alt="logo" />
          </a>
          <button
            class="menu__button-open js-open-menu"
            type="button"
            aria-expanded="false"
            aria-controls="mobile-menu"
          >
            <svg class="menu_picture" height="12px" width="20px">
              <use href="images/icons.svg#icon-burger"></use>
            </svg>
          </button>
        </div>
      </div>
    </header>
    <nav></nav>
    <div class="mobile-menu js-menu-container">
      <button type="button" class="mobile-menu__button-closed js-close-menu">
        <svg class="mobile-menu__svg" height="14px" , width="14px">
          <use href="images/icons.svg#icon-close"></use>
        </svg>
      </button>
      <div class="button-wrap">
        <button class="button-buy-now">
          Buy now
          <svg class="button-Buy-now__img" width="5.26px" height="8px">
            <use href="images/icons.svg#icon-arrow-right"></use>
          </svg>
        </button>
      </div>
      <nav>
        <ul class="nav-list list">
          <li class="nav-list__item">
            <a class="nav-list__link" href="#Home">Home</a>
           heder__mobile-menu-link -->
          <!-- </li>
          <li class="nav-list__item">
            <a class="nav-list__link" href="#about-us">About us</a>
          </li>
          <li class="nav-list__item">
            <a class="nav-list__link" href="how-its-made">How it’s made?</a>
          </li>
          <li class="nav-list__item">
            <a class="nav-list__link" href="#our-products">Our products</a>
          </li>
          <li class="nav-list__item">
            <a class="nav-list__link" href="#contact">Contact</a>
          </li>
        </ul>
      </nav>
    </div>

  </div> --> 

  <!-- -------------------------HERO-------------------------- -->
  <section class="hero">
    <div class="container hero-container">
<!-- -HEADER-START--HEADER-START--HEADER-START--HEADER-START--HEADER-START--HEADER-START--HEADER-START--HEADER-START- -->



<header  class="heder" id="Home">
<div class="container">
  <div class="flex">
    <a class="logo__link" href="index.html">
      <img class="logo__image{" src="images/logo.png" alt="logo" />
    </a>
    <button
      class="menu__button-open js-open-menu"
      type="button"
      aria-expanded="false"
      aria-controls="mobile-menu"
    >
      <svg class="menu_picture" height="12px" width="20px">
        <use href="images/icons.svg#icon-burger"></use>
      </svg>
    </button>
    <div class="tablet__button-nav">
                    <button
      class="tablet-menu__button-open js-open-menu"
      type="button"
      aria-expanded="false"
      aria-controls="mobile-menu"
    >
      <svg class="menu_picture" height="12px" width="20px">
        <use href="images/icons.svg#icon-burger"></use>
      </svg>
    </button>
    <button class="tablet__button-buy-now data-modal-open">
      Buy now
      <svg class="button-Buy-now__img" width="5.26px" height="8px">
        <use href="images/icons.svg#icon-arrow-right"></use>
      </svg>
    </button>
    </div>
    <div class="desctop-menu">
      <nav class="nav-decktop-menu">
        <ul class="desctop-menu__list">
          <li class="desctop-menu__item">
            <a class="desctop-menu__link" href="#Home">Home</a>
          </li>
          <li class="desctop-menu__item">
            <a class="desctop-menu__link" href="#about-us">About us</a>
          </li>
          <li class="desctop-menu__item">
            <a class="desctop-menu__link" href="how-its-made">How it’s made?</a>
          </li>
          <li class="desctop-menu__item">
            <a class="desctop-menu__link" href="#our-products">Our products</a>
          </li>
          <li class="desctop-menu__item">
            <a class="desctop-menu__link" href="#contact">Contact</a>
          </li>
        </ul>

      </nav>
      <button class="desctop__button-buy-now data-modal-open">
    <!-- -------------------------HERO-------------------------- -->

<header  class="heder" id="Home">
  <div class="container">
    <div class="flex">
      <a class="logo__link" href="index.html">
        <img class="logo__image{" src="images/logo.png" alt="logo" />
      </a>
      <button
        class="menu__button-open js-open-menu"
        type="button"
        aria-expanded="false"
        aria-controls="mobile-menu"
      >
        <svg class="menu_picture" height="12px" width="20px">
          <use href="images/icons.svg#icon-burger"></use>
        </svg>
      </button>
      <div class="tablet__button-nav">
                      <button
        class="tablet-menu__button-open js-open-menu"
        type="button"
        aria-expanded="false"
        aria-controls="mobile-menu"
      >
        <svg class="menu_picture" height="12px" width="20px">
          <use href="images/icons.svg#icon-burger"></use>
        </svg>
      </button>
      <button class="tablet__button-buy-now" data-modal-open>
        Buy now
        <svg class="button-Buy-now__img" width="5.26px" height="8px">
          <use href="images/icons.svg#icon-arrow-right"></use>
        </svg>
      </button>
      </div>
      <div class="desctop-menu">
        <nav class="nav-decktop-menu">
          <ul class="desctop-menu__list">
            <li class="desctop-menu__item">
              <a class="desctop-menu__link" href="#Home">Home</a>
            </li>
            <li class="desctop-menu__item">
              <a class="desctop-menu__link" href="#about-us">About us</a>
            </li>
            <li class="desctop-menu__item">
              <a class="desctop-menu__link" href="how-its-made">How it’s made?</a>
            </li>
            <li class="desctop-menu__item">
              <a class="desctop-menu__link" href="#our-products">Our products</a>
            </li>
            <li class="desctop-menu__item">
              <a class="desctop-menu__link" href="#contact">Contact</a>
            </li>
          </ul>

        </nav>
        <button class="desctop__button-buy-now "data-modal-open>
          Buy now
          <svg class="button-Buy-now__img" width="5.26px" height="8px">
            <use href="images/icons.svg#icon-arrow-right"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</div>
</header>

<div class="mobile-menu js-menu-container">
<button type="button" class="mobile-menu__button-closed js-close-menu">
  <svg class="mobile-menu__svg" height="14px"  width="14px">
    <use href="images/icons.svg#icon-close"></use>
  </svg>
</button>
<div class="button-wrap">
  <button class="button-buy-now data-modal-open">
    Buy now
    <svg class="button-Buy-now__img" width="5.26px" height="8px">
      <use href="images/icons.svg#icon-arrow-right"></use>
    </svg>
  </button>
</div>
<nav>
  <ul class="nav-list list">
    <li class="nav-list__item">
      <a class="nav-list__link" href="#Home">Home</a>
      <!-- heder__mobile-menu-link -->
    </li>
    <li class="nav-list__item">
      <a class="nav-list__link" href="#about-us">About us</a>
    </li>
    <li class="nav-list__item">
      <a class="nav-list__link" href="how-its-made">How it’s made?</a>
    </li>
    <li class="nav-list__item">
      <a class="nav-list__link" href="#our-products">Our products</a>
    </li>
    <li class="nav-list__item">
      <a class="nav-list__link" href="#contact">Contact</a>
    </li>
  </ul>
</nav>
  <div class="button-wrap">
    <button class="button-buy-now"data-modal-open>
      Buy now
      <svg class="button-Buy-now__img" width="5.26px" height="8px">
        <use href="images/icons.svg#icon-arrow-right"></use>
      </svg>
    </button>
  </div>
  <nav>
    <ul class="nav-list list">
      <li class="nav-list__item">
        <a class="nav-list__link" href="#Home">Home</a>
        <!-- heder__mobile-menu-link -->
      </li>
      <li class="nav-list__item">
        <a class="nav-list__link" href="#about-us">About us</a>
      </li>
      <li class="nav-list__item">
        <a class="nav-list__link" href="how-its-made">How it’s made?</a>
      </li>
      <li class="nav-list__item">
        <a class="nav-list__link" href="#our-products">Our products</a>
      </li>
      <li class="nav-list__item">
        <a class="nav-list__link" href="#contact">Contact</a>
      </li>
    </ul>
  </nav>
</div>


<!-- -HEADER-END--HEADER-END--HEADER-END--HEADER-END--HEADER-END--HEADER-END--HEADER-END--HEADER-END--HEADER-END- -->
<!-- ------------------------------------------------------------------------------------------------------------ -->
<!-- -HERO-START--HERO-START--HERO-START--HERO-START--HERO-START--HERO-START--HERO-START--HERO-START--HERO-START- -->
      <div class="hero__heading">
      <div class="hero__background-circle"></div>
      <div class="hero__main-block">
        <h1 class="hero__title">
          Ice cream <br />
          made with <br />
          <span class="hero__word">passion</span>
        </h1>
        <ul class="hero__links">
          <li class="hero__links-item"><a href="#products" class="hero__link"><span class="hero__link-text hero__link-text--pro"> Products </span></a></li>
          <li class="hero__links-item"><a href="#about" class="hero__link"><span class="hero__link-text hero__link-text--how"> How it's made?</span></a></li>
        </ul>
      </div>
      <div class="hero__second-block">
          <picture class="hero__milk-picture">
            <source
          srcset="
          images/hero-milk-desk-1x-min.png    1x,
          images/hero-milk-desk-2x-min.png 2x
          "
          media="(min-width:1280px)"
        />
        <source
          srcset="
          images/hero-milk-tab-1x-min.png    1x,
          images/hero-milk-tab-2x-min.png 2x
          "
          media="(min-width:768px)"
        />
        <img src="images/hero-milk-desk-1x-min.png" alt="bio-eco milk" class="hero__milk-image"> 
        </picture>
        <div class="hero__main-text">
          <p class="hero__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>
          <button type="button" class="hero__button">
        </button>
        </div>
    </div>
  <div class="hero__third-block"> 
  <picture class="hero__ice-cream-picture">
    <source
      srcset="
        images/icecream-desk-1x-min.png    1x,
        images/icecream-desk-2x-min.png 2x
      "
      media="(min-width:1280px)"
    />
    <source
      srcset="
      images/icecream-tab-1x-min.png   1x,
      images/icecream-tab-2x-min.png 2x
      "
      media="(min-width:768px)"
    />
    <source
      srcset="
      images/icecream-mob-1x-min.png    1x,
      images/icecream-mob-2x-min.png 2x
      "
      media="(min-width:320px)"
    />
    <img src="images/icecream-mob-1x-min.png" alt="our natural ice cream" class="hero__ice-cream-image">
    </picture>
</div>
        <ul class="hero__fourth-block">
        <li class="hero__facilities-item"><p class="hero__facilities hero__facilities--cafes"> <span class="hero__quantity">16</span><span class="hero__facility">cafes</span></p><span class="hero__facilities-circle"></span></li>
        <li class="hero__facilities-item"><p class="hero__facilities hero__facilities--trucks"> <span class="hero__quantity">23</span><span class="hero__facility">food trucks</span></p><span class="hero__facilities-circle"></span></li>
      </ul>
  <div class="hero__fifth-block">
  <picture class="hero__so-tasty-picture">
      <source
        srcset=" 
        images/so-tasty-desk-1x-min.png    1x,
        images/so-tasty-desk-2x-min.png  2x
        "
        media="(min-width:1280px)"
      />
      <source
        srcset="
        images/so-tasty-tab-1x-min.png    1x,
        images/so-tasty-tab-2x-min.png  2x
        "
        media="(min-width:768px)"
      />
      <img src="images/so-tasty-desk-1x-min.png" alt="tasty ice cream" class="hero__so-tasty-image">
    </picture>
  </div>
</div>
</div>
    </section>
<!-- -HERO-END--HERO-END--HERO-END--HERO-END--HERO-END--HERO-END--HERO-END--HERO-END--HERO-END--HERO-END--HERO-END--HERO-END- -->
</div>
